.image {
  background-image: url('./assets/propuesta2.jpg');
  height: 380px;
  background-size: cover;
  filter: brightness(70%);
}

.text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}


@media (min-width: 600px) {
    .image { height: 200px; }
    .text { font-size: 18px; }
}

@media (min-width: 768px) {
  .image { height: 150px; }
}

@media (min-width: 992px) {
  .image { height: 380px; }
}