.countdown .content {
	/*width: 100%;
	flex-direction: row;
	margin: auto;
	gap: 12px;*/
	display: flex;
	justify-content: center;
}

.countdown .box {
	width: calc(100% / 4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 130px;
	max-width: 150px;
}

.countdown .value {
	font-family: "Maven Pro", sans-serif;
	font-size: 23px;
	background-color: #cdbda3;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width: 50px;
	height: 50px;
	position: relative;
    border-radius: 50%;
}
/*
@media screen and (min-width: 550px) {
	.countdown .content {
		gap: 30px;
	}
	.countdown .value {
		font-size: 23px;
		width: 60px;
		height: 60px;
	}
	.countdown .box {
		height: 100px;
		max-width: 100px;
	}
}

@media screen and (min-width: 790px) {
	.countdown .value {
		font-size: 30px;
		height: 100px;
		width: 100px;

	}
	.countdown .box {
		max-width: 200px;
		height: 150px;
	}
}*/


.countdown .label {
	font-family: "Maven Pro", sans-serif;
	font-style: normal;
	font-size: 12px;
	margin-top: 8px;
}